<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <h1>Welcome admin</h1>
    <a href="user/showUsers">showUsers</a>
    <a href="user/addUser">addUser</a>
    <a href="user/deleteUser">deleteUser</a>
    <a href="user/updateUser">updateUser</a>
</body>
</html>