<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Welcome</h1>
    <form action='adminLogin' method="get">
            Username : <input type="text" id="username" name="username" placeholder="type your username">
            Password : <input type="password" id="password" name="password" placeholder="type your password">
            <button type="submit">Login</button>
    </form>
</body>
</html>