<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="updateUser" method="post">
        Employee id : <input type="text" name="_id"  placeholder="Employee Id">
        <h1>Enter modified details</h1>
        <br>
        Employee Name  :<input type="text" name="userName"  placeholder="Employee name">
        Employee Password : <input type="password" name="password"  placeholder="Employee password">
        <input type="submit" value="submit">
    </form>
</body>
</html>